---
---

@import "reset";
@import "variables";
@import "highlights";
@import "svg-icons";
@import "splash";
@import "speakers";

html {
  font-size: 100%;
}

body {
	background: #f2f2f2;
  font: 18px/1.4 $font_body;
  color: $darkGray;
}

.header {
  margin: 0 auto;
  width: 100%;
  background-color: #8056d4;
  background-image: linear-gradient(62deg, #8056d4, #4b2a8d);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_header;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-size: 13px;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

.date {
  color: #afafaf;
  font-size: 11px;
}

::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.global-container {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.masthead {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
  @include mobile {
    height: 200px;
    flex-direction: column;
    text-align: center;
  }
}

.site-avatar {
  width: 100px;
  margin-right: 15px;

  @include mobile {
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  flex: 2;

  @include mobile {
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-family: $font_header;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  @include mobile {
    font-size: 20px;
  }
}

.site-description {
  margin: 3px auto !important;
  color: #fff;
  font-size: 0.7em;
  font-family: $font_body;
  line-height: 1.7;

  @include mobile {
    margin: 3px 0;
    text-align: center;
    width: 75%;
  }
}

nav {
  font-family: $font_body;
  font-size: 18px;
  background-color: #1a192c;
  padding: 10px;
  padding-bottom: 15px;
  text-align: center;

  @include mobile {
    float: none;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
    padding-bottom: 5px;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    @include mobile {
      margin: 0 10px;
    }
  }

  a:hover {
    border-bottom: 1px solid white;
  }
}

.blog-content {
  width: 100%;
}

article.post {
  background-color: #f2f2f2;
  border-radius: 10px;
  @include mobile {
    margin: 0px;
    border-radius: 0px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 10px;
    color: #ff4d4d;
  }
}

article.page {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 740px;
    margin: 20px auto;
    margin-bottom: 80px;
    @include mobile {
        border-radius: 0px;
    }
}

.post h1 {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: white;
  width: 60%;

  @include mobile {
    width: 80%;
    font-size: 20px;
  }
}

.post-header {
  height: 350px;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  background-color: #8056d4;
  background-image: linear-gradient(62deg, #8056d4, #4b2a8d);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: 200px;
  }
}

.wrapper-footer {
  position: fixed;
  background-color: #1a192c;
  width: 100%;
  bottom: 0;

  @include mobile {
    position: relative;
  }
}

footer {
  padding: 10px 0;
  text-align: center;
  p {
    color: #9c9c9c;
    font-size: 10px;
    margin: 0px;
  }
}

.cover-image {
  background-image: url(https://drive.google.com/uc?id=1MAh7FkFfl9yOl3oQSqATPRCMR6vz5QkI);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    height: 250px;
  }
}

.cover-overlay {
  height: 450px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mobile {
    height: 250px;
  }

  h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 90%;

    @include mobile {
      font-size: 15px;
      width: 80%;
      line-height: 1.8;
    }
  }
}

.entry {
  max-width: 740px;
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: -75px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 50px;
  @include mobile {
    margin-top: 0px;
  }
}

.cover-date {
  font-size: 10px;
  color: #000000;
  text-align: center;
  background-color: #ffff5d;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;

  @include mobile {
    margin: 5px;
  }
}

.entry li {
  font-size: 13px;
}

.entry ul {
  padding-left: 15px;
}

figure {
  padding: 5px;
  margin: 10px 0;
}

img.typical-image {
    border-radius: 5px;
    border: 3px solid #e9e9e9;
}

.footer-relative {
  position: relative !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}