
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

.blog-category-box {

}

.blog-category-box ul {
	margin: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
}

.blog-category-box .inner_box img {
	height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include mobile {
    	height: 150px;
    }
}

.blog-category-box .inner_box {
	width: 200px;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    margin: 15px;
    text-align: center;
    transition: 0.2s ease-in;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    @include mobile {
    	width: 150px;
    	margin: 5px;
    }
}

.blog-category-box .inner_box h3 {
    padding: 0 10px;
    font-size: 12px;
    margin: 10px 0;
    text-align: left;
}

.blog-category-box .inner_box p {
	margin: 10px 0;
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #7c7979;
    padding: 0px 10px;
    text-align: left;
}

.blog-category-box .inner_box .front-date {
	color: lightgray;
	font-size: 10px;
}

.splash-content {
  max-width: 740px;
  margin: 5px auto;
  padding: 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.splash-content p {
  margin: 15px 0;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.splash-content h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.3em;
}