.blog-category-box ul {
	margin: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
}

.blog-category-box .inner_box img {
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    @include mobile {
    	height: 165px;
    }
}

.blog-category-box .inner_box {
	width: 500px;
    border-radius: 5px;
    background-color: #fff;
    margin: 15px;
    text-align: center;
    transition: 0.2s ease-in;
    display: flex;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    @include mobile {
    	width: 100%;
    	margin: 10px 0;
    }
}

.blog-category-box .inner_box:hover {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.blog-category-box .inner_box h3 {
    padding: 0 10px;
    font-size: 15px;
    margin: 10px 0;
    text-align: left;
}

.blog-category-box .inner_box p {
	margin: 10px 0;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #7c7979;
    padding: 0px 10px;
    text-align: left;
}

.blog-category-box .inner_box .front-date {
	color: lightgray;
	font-size: 10px;
	text-align: right;
}

.splash-content {
  max-width: 740px;
  margin: 5px auto;
  background-color: #f2f2f2;
  margin-bottom: 50px;
  overflow: hidden;
}

.splash-content p {
  margin: 15px 0;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.splash-content h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.3em;
}

.blog-category-box .inner_box .post-box {
    display: flex;
    flex-direction: column;
}

.category-wrapper h1 span {
    background-color: #ffff5d;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-size: 12px;
}

.padding-box {
	padding: 20px;
}