---
layout: default
---

<article class="post">
	<div class="post-header">
		<h1>{{ page.title }}</h1>
		<p class="cover-author">{% if page.venue %}{{ page.venue }}{% else %} by {{ page.author }}{% endif %}</p>
		<p class="cover-date">{{ page.date | date: "%B %e, %Y" }}</p>
	</div>

	<div class="entry">
		{{ content }}
		
		<button class="disqus-button" onclick="showComments(this.id);">Comments</button>
		<div class="disqus-box" id="disqus-box">
			{% include disqus.html %}
		</div>
	</div>
</article>

<div id="media-modal" class="media-modal">
  <span class="media-close" onclick="closeMediaModal()">&times;</span>
  <img class="media-modal-content" id="media-modal-content">
  <div id="media-modal-caption"></div>
</div>